<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 控制台输出日志 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] [%logger] - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- 日志输出 到文件-->
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/unstructured-data.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>./logs/unstructured-data.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<MaxHistory>7</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>10MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] [%logger] - %msg%n</Pattern>
		</encoder>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>
</configuration>